/*
Theme Name: Nusa Debali
Theme URI: https://kairaweb.com/theme/freestore/
Author: Kaira
Author URI: https://kairaweb.com/
Description: With FreeStore we give you everything for free... a fully responsive multipurpose WordPress premium theme to download and use as you want. We give you lots of settings and integrate with some of the best plugins to help you build a beautiful website or online store. Create detailed page layouts with SiteOrigin's drag and drop Page Builder... Sell products beautifully online with WooCommerce... Or select between our different layouts and page templates to build the site you want! Give it a go :)
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: freestore
Template: freestore
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, editor-style, featured-images, footer-widgets, full-width-template, theme-options, translation-ready, blog, e-commerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

FreeStore is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# FreeStore Stying ----
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* Enter Your Custom CSS Here */
html, body {
	font-size: 90%;
}
.site-header-topbar {
    background: #aaff06 !important;
	font-weight: bold;
	color: #232323;
}
.site-topbar-left ul li a {
	color: #232323 !important;
}

.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a {
	font-weight: bold;
}

.main-navigation .sub-menu .current-menu-parent > a {
	color: #fff;
}

.main-navigation .current-menu-parent > a {
	font-weight: bold;
}

.main-navigation ul ul a:hover {
	background-color: transparent !important;
	color: #aaff06 !important;
}

a:hover {
	color: #000 !important;
}

.header-cart-contents:hover, .header-cart-contents:hover i {
	color: #aaff06 !important;
}

.main-navigation ul li a:hover {
	color: #aaff06 !important;
	box-shadow: 0 -3px 0 #000 inset;
}

.main-navigation ul li.current-product-ancestor a {
	box-shadow: 0 -3px 0 #000 inset;
}

.woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button {
	color: #fff !important;
}

#comments .form-submit #submit, .search-block .search-submit, .no-results-btn, button, input[type="button"], input[type="reset"], input[type="submit"], .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce .cart-collaterals .shipping_calculator .button, .woocommerce-page .cart-collaterals .shipping_calculator .button, .woocommerce a.button, .woocommerce-page a.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page input.button, .woocommerce #review_form #respond .form-submit input, .woocommerce-page #review_form #respond .form-submit input, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .single-product span.onsale, .wpcf7-submit {
	color: #aaff06 !important;
	background-color: #343434 !important;
}

.main-navigation button:hover, #comments .form-submit #submit:hover, .search-block .search-submit:hover, .no-results-btn:hover, button, input[type="button"], input[type="reset"], input[type="submit"], .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce .cart-collaterals .shipping_calculator .button, .woocommerce-page .cart-collaterals .shipping_calculator .button, .woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page input.button:hover, .woocommerce ul.products li.product a.add_to_cart_button:hover, .woocommerce-page ul.products li.product a.add_to_cart_button:hover, .woocommerce button.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce #review_form #respond .form-submit input:hover, .woocommerce-page #review_form #respond .form-submit input:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .wpcf7-submit:hover {
	color: #343434 !important;
	background-color: #aaff06 !important;
}

.button#place_order {
	color: #343434 !important;
}

.button#place_order:hover {
	color: #aaff06 !important;
}

.add_to_wishlist {
  display: inline-block;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 9px 30px 10px;
  font-size: 14px;
	color: #343434 !important;
	background-color: #aaff06 !important;
}

.wcppec-checkout-buttons.woo_pp_cart_buttons_div {
	display: none !important;
}

.add_to_wishlist:hover {
  opacity: .75;
}

.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table {
    max-width: initial;
	width: 100%;
    float: none;
}

.woocommerce table.cart td, .woocommerce-page table.cart td {
    padding: 0 !important;
}

.woocommerce table.cart .actions, .woocommerce-page table.cart .actions {
    padding: 6px 12px !important;
}

.header-cart {
 	position: relative;
}

.header-cart:hover > .header-cart-list {
    height: auto;
}

.header-cart-list {
	height: 0px;
	overflow: hidden;
	padding: 0;
    margin: 0;
    background: #343434;
  	list-style: none;
    width: 300px;
    z-index: 900;
    position: absolute;
    right: 0;
    box-shadow: 10px 10px 30px rgba(0,0,0,.3);
	color: #fff
}

.header-cart-list li {
	padding: 10px 10px 0;
	overflow: hidden;
}

.header-cart-list li.header-cart-item {
    background: #343434;
}

.header-cart-list li.header-cart-item > img {
	float: left;
	width: 25%;
}

.header-cart-list li.header-cart-item > div {
	float: right;
	width: 75%;
	padding-left: 10px;
}

.header-cart-list li.header-cart-item > div a, .header-cart-list li.header-cart-item .woocommerce-Price-amount {
	color: #fff !important;
}

.header-cart-list li.header-cart-total {
 	margin-top: 10px;
    background: #232323;
    padding: 10px !important;
}

.header-cart-list li.header-cart-total .amount {
    color: #fff !Important;
}

.header-cart-list li.header-cart-total button {
 	width: 100%;
	margin-top: 10px !important;
	margin-left: 0 !important;
}

.site-topbar-left ul {
   position: relative;
}

.site-topbar-left ul li:hover ul {
   display: block;
}

.site-topbar-left ul ul {
	position: absolute;
	display: none;
    z-index: 1;
	background: #aaff06;
    width: 150px;
	padding-top: 10px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.14) inset;
}

.site-topbar-left ul ul li {
	display: block;
	width: 100%;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.14) inset, -1px 0 0 rgba(0, 0, 0, 0.14) inset;
}

.site-topbar-left ul ul li a {
	display: block;
	padding: 8px 12px;
	width: 100%;
	color: #232323;
	text-decoration: none !important;
}

.site-topbar-left ul ul li a:hover {
	color: #aaff06 !important;
	background: #232323;
}

.home-slider-wrap {
	border-top: 0;
}

.site-header {
	border-bottom: 3px solid #000;
}

.site-header-topbar a {
	font-size: 120%;
}

.footer-social-icon:hover {
	opacity: .5;
}

.woocommerce-tabs .wc-tabs li a {
  color: #000 !important;
}

.woocommerce-tabs .wc-tabs li a:hover {
  opacity: .75;
}

.yith-wcwl-wishlistexistsbrowse {
  background: #232323;
  padding: 10px;
  color: #fff;
}

.yith-wcwl-wishlistexistsbrowse a {
  color: #aaff06 !important;
}

.yith-wcwl-wishlistexistsbrowse a:hover {
  opacity: .75;
  border-bottom: 1px solid #aaff06;
}

.yith-wcwl-wishlistaddedbrowse {
  background: #232323;
  padding: 10px;
  color: #fff;
}

.yith-wcwl-wishlistaddedbrowse a {
  color: #aaff06 !important;
}

.yith-wcwl-wishlistaddedbrowse a:hover {
  opacity: .75;
  border-bottom: 1px solid #aaff06;
}

.entry-summary div .price .woocommerce-Price-amount {
  font-size: 18px;
}

.woocommerce ul.products li.product .price {
	font-size: .857em !important;
	font-weight: 400 !important;
}

.woocommerce-Price-amount {
  color: #232323 !important;
}

.woocommerce div.product form.cart {
  margin: 1em 0;
  padding: 1em 0;
  border-top: 1px dotted #808080;
  border-bottom: 1px dotted #aaa;
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
	width: 30% !important;
}

.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb  {
    padding: 10px !important;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: inset 0px 1px rgba(255,255,255,0.75), inset 0px -1px rgba(0,0,0,0.075);
    background: #e5e5e5;
  	margin-bottom: 24px !important;
	top: 30px !Important;
}

.single-product.woocommerce .woocommerce-breadcrumb, .single-product.woocommerce-page .woocommerce-breadcrumb {
	top: 0 !important;
}

.woocommerce-ordering {
	float: right !important;
	margin-left: 20px !important;
    line-height: 31px;
}

.out_of_stock_button {
	background-color: #f44a36 !important
}

.product_meta > * {
  display: block !important;
  font-weight: bold
}

.product_meta > * > * {
  font-weight: normal;
}

.product_meta > * > *:hover {
  text-decoration: underline;
}

#reviews ol.commentlist {
  padding-left: 0 !important;
}

#reviews #review_form .comment-reply-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.woocommerce-ordering {
	width: auto !important;
}

.showall_button {
	margin: 0;
	font-size: 14px; 
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: inset 0px 1px rgba(255,255,255,0.75), inset 0px -1px rgba(0,0,0,0.075);
    background: #e5e5e5; 
	text-transform: uppercase; 
	padding: 6px 14px; 
	margin-top: 2px
}

.showall_button:hover {
    border: 1px solid #aaa;
    box-shadow: inset 0px 1px rgba(255,255,255,0.75), inset 0px -1px rgba(0,0,0,0.075);
    background: #ddd;
	color: #000;
}

.showall_button:active {
    border: 1px solid #9a9a9a;
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.075), inset 0px -2px 3px rgba(0,0,0,0.075);
    background: #ccc;
}

.cart-collaterals > .left-column {
	width: 44%;
	float: left;
}

.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table {
	width: 100%;
	max-width: initial !important;
	float: none !important;
}

.woocommerce-cart .wc-proceed-to-checkout {
	text-align: right;
}

.wc-proceed-to-checkout a.checkout-button  {
	float: none;
}

.woocommerce #payment .terms, .woocommerce #payment .wc-terms-and-conditions, .woocommerce-page #payment .terms, .woocommerce-page #payment .wc-terms-and-conditions {
	padding: 0 !important;
}

.woocommerce #payment .terms a, .woocommerce #payment .wc-terms-and-conditions a, .woocommerce-page #payment .terms a, .woocommerce-page #payment .wc-terms-and-conditions a {
	color: #000;
}

.woocommerce #payment .terms a:hover, .woocommerce #payment .wc-terms-and-conditions a:hover, .woocommerce-page #payment .terms a:hover, .woocommerce-page #payment .wc-terms-and-conditions a:hover {
	border-bottom: 1px solid #000;
}
